<div>
    <h2 class="appTitle">Benefits Offering</h2>
    <button id="addBtn" type="button" class="btn btn-success btn-green">+Add Offering</button>
    <h4>(The rules are matched in the order shown below)</h4>
</div>
<div class="matching-container">
    <h5><b>IF</b> matching this rule</h5>
    <h5><b>THEN</b> offer these plans</h5>
</div>
<div class="eligibility-list">
    <ul class="items-list" id="items_list"></ul>
</div>