<div class="col-md-1 handle">
    {{#unless default}}
       <img src="images/reorder.png">
    {{/unless}}
</div>
<div class="col-md-3">
    {{#unless default}}
        <div class="col-md-12 name-container">
            <label id="nameEditor">{{name}}</label>
        </div>
        <div class="col-md-12 delete-container">
            <img src="images/trash.png">
            <a id="deleteBtn" class="delete-btn" href="#">Delete offer plan</a>
        </div>
    {{/unless}}
    {{#if default}}
        <h3 class="default-title">Base Offering</h3>
    {{/if}}
</div>
<div class="col-md-8 eligibility-form">
    {{#each plan_types}}
        <div class="row">
            <label class="capitalize item-label">{{this}}</label>
            <div class="plans-selection pull-right">
                <select id="{{this}}" class="form-control" multiple="multiple"></select>
            </div>
        </div>
    {{/each}}
</div>
